*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn {
  background-color: var(--color-primary);
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: var(--color-primary);
}

/* Typography */

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--color-body);
}

a:hover {
  color: var(--color-primary);
}

/* Color Palette */
:root {
  --color-primary: #fed983;
  --color-dark-bkgrnd: #28272a;
  --color-light-bkgrnd: #a2a1b4;
  --color-body: #dedede;
  --color-body-dark: #28272a;
  --border-radius: 30px;
}

/* NavBar */ 

.navbar {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  background-color: var(--color-dark-bkgrnd);
  padding: 20px 0 20px 0;
  text-transform: uppercase;
}

.navbar-brand {
  margin-left: 3rem;
  font-size: 2rem;
}

.navbar-nav {
  margin-right: 3rem;
}

@media only screen and (max-width: 600px) {
  .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    width: 100%;
  }
}

.nav-item {
  margin-inline: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-item:nth-of-type(3) {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  padding: 0 5px 0 5px;
}

.nav-item:nth-of-type(3) > .nav-link {
  color: var(--color-body-dark);
  font-weight: 500;
}

.logo-icon {
  margin-right: 0.2rem;
  position: relative;
  top: -1.2px;
}

/* Carousel */

.carousel {
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

/* Mission */ 

.mission {
  max-width: 50vw;
  color: var(--color-body-dark);
}

.mission > h2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mission > p {
  text-align: left;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

/* Products */

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.product {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 100%;
  color: var(--color-body-dark);
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.product-details > p > a {
  color: var(--color-body-dark);
}

.product-download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--color-body-dark);
}